<html>
<head></head>
<body>

<h2><u>Your items</u></h2>
    <ul>
    {{#carts}}
        <li> {{title}} ${{price}}</li>
    {{/carts}}
    </ul>

    <h3>Back to <a href="/shop">shop</a></h3>
<h4>Need an account? <a href="/register">Register</a></h4>

</body>
</html>