<html>
<head></head>
<body>

<h2>Please login</h2>
    <form action="/login" method="POST">
        <input type="text" placeholder="Username" name="username">
        <input type="text" placeholder="Password" name="password">
        <button>Login</button>
    </form>
<h4>Need an account? <a href="/register">Go to login</a></h4>

</body>
</html>