<html>
<head></head>
<body>

<h2>Lets make you an account</h2>
    <form action="/register" method="POST">
        <input type="text" placeholder="Unique name" name="username">
        <input type="text" placeholder="Password" name="password">
        <button>register</button>
    </form>
<h4>Already have an account? <a href="/login">Go to login</a></h4>

</body>
</html>