<html>
<head>
</head>

<body>
    <h1>Login</h1>

    <form method="POST" action = "/login">
        <input type="text" placeHolder="User name" name="username" />
        <input type="text" placeHolder="Password" name="password" />
        <button>Login</button>
    </form>

</body>

</html>