<html>
<head>
</head>

<body>
    <h1>Register</h1>

    <form method="POST" action = "/register">
        <input type="text" placeHolder="User name" name="username" />
        <input type="text" placeHolder="Password" name="password" />
        <button>Register</button>
    </form>

    <b>{{message}}</b>

</body>

</html>