<html>
<head></head>
<body>
<h1>Please Login<h1>

<a href="/trips/register">Make An Account</a>
<form method="Post" action="/login">
    <input type ="text" name ="username" placeHolder="Please input User Name">
    <input type="text" name="password" placeholder="Password">
    <button>Login</login>
</form>
</body>
</html>