<html>
<head></head>
<body>
<h1> Blog Home </h1>
<ul>
{{#posts}}
<li><a href="/post/{{id}}">{{title}}</a></li>
{{/posts}}
</ul>
<button type=submit><a href="/create">Create Post</a></button>
</body>
</html>