<html>
<head></head>
<body>
<h1>To Do List</h1>

<h2>New Task</h2>
<form action='/todos' method='POST'>
<input type='text' name='title' value="task"/>
<input type='text' name='priority' value="High Medium Low"/>
<input type='text' name='DTG' value="MM/DD/YEAR"/>
<button type="submit">Add Task</button>

</html>